<div id="about-descrip">
	<h1>Gavel</h1>
	<h3>Make a decision</h3>
	<p>
		<strong>People argue often.</strong> Gavel aims to settle disputes and help people make decisions fairly and effeciently by providing crowdsourced arbitration. Drawing on a simple viewing-and-voting interface, Gavel allows users to post arguments (in either the affirmative or the negative) and leave arbitration award and judgment to commenters. Arguments may be voted up or down, and at a specified threshold, an accepted verdict will be selected.
	</p>
	<p>
		Posters are asked to abide by the course of action set forth in the accepted verdict. Users with more accepted verdicts will be given tiered credentials and extended priveledges.
	</p>
	<p>Please email me at <a href="mailto:wgf2104@gmail.com?subject=Hi%20there">wgf2104@gmail.com</a></p>
</div>