// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.icon-twitter3 {
	color: #55acee;
}

.icon-facebook3 {
	color: #3b5998;
}

.share-tray .icomoon {
	font-size:2em;
}

.share-tray {
	display:none;
	position:relative;
	float:right;
	top:10px;
}

.share-tray li {
	display:inline;
	list-style-type:none;
	padding-right:5px;
}