<div class="navbar">
	<ul class="nav navbar-nav">
		<li class="active" id="home"><a href="/">Home</a></li>
		<% if not current_user.present? %>
		<li id="login"><a href="/login">Login</a></li>
		<% end %>
		<li id="signup"><a href="/login">Signup</a></li>
		<% if current_user.present? %>
		<li id="logout"><a href="/logout">Logout</a></li>
		<% end %>
	</ul>
</div>